@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import 'config';
@import 'form';
@import 'views';
@import 'nav';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

// Media Queries
@import 'media';
